body
    
    .article{
        width:100%;
        vertical-align:top;
        display:inline-block;
        margin:0px auto;
        padding:0px;
        width:33%;
    }
    #box-header{
        width:100%;
        height:250px;
        position:relative;
        overflow:hidden;
    }        
    .img-header{
        width:100%;
        height:100%;
    }
    h1{
        color: rgb(0, 0, 0); 
        font-family: fantasy; 
        font-size: 6em; 
        text-shadow: rgb(255, 255, 255) 0.0em 0.0em 0.9em;
        text-align: center;
        display: flex;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50%;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        color: rgb(143, 112, 139); 
        font-family: sans-serif;
        font-size: 2em;
    }
    h3{
        color: rgb(180, 154, 177); 
        font-family: serif;
        font-size: 1.5em;
    }
    a{
        color: rgb(187, 187, 187); 
        font-family: monospace;
        font-size: 15px; 
        text-decoration: none;
        text-shadow: rgb(187, 187, 187) 0.1em 0.2em 0.2em;
    }
    #gryffindor{
        color: gold; 
        background-color: rgb(131, 3, 3);
    }
    #hufflepuff{
        color: rgb(7, 6, 6); 
        background-color: rgb(185, 185, 24);
        margin-top: 40px;
    }
    #ravenclaw{
        color: rgb(124, 53, 12); 
        background-color: rgb(16, 0, 109);
        margin-top: 30px;
    }
    #slytherin{
        color: silver; 
        background-color: rgb(2, 71, 12);
    }
    li{
        color: rgb(187, 187, 187); 
        font-family: monospace; 
        font-weight: bold;
    }
    p{
        color: rgb(187, 187, 187); 
        font-family: monospace;
    }
    .history-text{
        background: rgba(0, 0, 0, 0); 
        overflow-y: scroll;
        width: 55vw;
        height: 15vh;
    }
    .full-table{
        background: rgba(146, 138, 138, 0.829); 
        border: 5px groove;
        margin: auto;
    }
    #first-year{
        text-decoration: underline;
    }
    .header{
        color: rgb(180, 154, 177); 
        font-family: serif;
        font-size: 1.5em; 
        text-decoration: underline;
    }
    .subjects{
        color: rgb(187, 187, 187); 
        font-family: monospace;
        text-align: center;
        word-break: break-word;
    }
    .scarlet{
        color: rgb(131, 3, 3);
    }
    .yellow{
        color: rgb(185, 185, 24);
    }
    .blue{
        color: rgb(72, 51, 190);
    }
    .green{
        color: rgb(2, 71, 12);
    }
    .songs{
        text-align: center;
    }
    .hogwarts-song{
        font-style: italic; 
        line-height: 1.5em;
    }
    .double-trouble{
        color: rgb(230, 161, 121);
    }
    .hogwarts-choir{
        color: rgb(119, 118, 117);
    }
    body{
        background-color: rgb(0, 0, 0); 
        font-size: 15px;
    }
    .no-muggles{
        text-align: center;
    }
    .container{
        border: 5px double rgb(88, 64, 87);
        border-top: 15px solid rgb(88, 64, 87); 
        padding: 15px;
    }
    .center-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }